In [2]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("../data/wti-daily.csv", parse_dates=["Date"], index_col="Date")
df.head()

            Price
Date
1986-01-02  25.56
1986-01-03  26.00
1986-01-06  26.53
1986-01-07  25.85
1986-01-08  25.87

1. What was the average price of a barrel of oil in June 1992?
2. What was the average price of a barrel of oil in all of 1987?
3. What was average price from September 2003 to July 2014?
4. Show the price of oil at the end of each quarter in the data set.
5. For each year of the data set show the average price.
6. On which dates were oil prices the highest?
7. On which dates were oil prices the lowest?

In [10]:
# 1. Mean price for June 1992
df.loc["1992-06"].mean()

Price    22.384545
dtype: float64

In [11]:
# 2. Mean price for 1987
df.loc["1987"].mean()

Price    19.200512
dtype: float64

In [17]:
# 3. Average price from Sept 2003 to July 2014
df.loc["2003-09":"2014-07"].mean()

Price    76.457834
dtype: float64

In [21]:
# 4. Price of oil at the end of each quarter
# is_quarter_end is a built-in for the `dt` accessor
df.loc[df.index.is_quarter_end]

            Price
Date
1986-03-31  10.25
1986-06-30  12.80
1986-09-30  14.70
1986-12-31  17.93
1987-03-31  18.82
...           ...
2020-09-30  40.05
2020-12-31  48.35
2021-03-31  59.19
2021-06-30  73.52
2021-09-30  75.22

[99 rows x 1 columns]

In [23]:
# 5. Show the average price for each year of the dataset
df.groupby(df.index.year)["Price"].mean()

Date
1986    15.047689
1987    19.200512
1988    15.965409
1989    19.635486
1990    24.526576
1991    21.541367
1992    20.575564
1993    18.432200
1994    17.196429
1995    18.428805
1996    22.119173
1997    20.608254
1998    14.422072
1999    19.344980
2000    30.378520
2001    25.983120
2002    26.184960
2003    31.075240
2004    41.506024
2005    56.637251
2006    66.054659
2007    72.340595
2008    99.671502
2009    61.950437
2010    79.475714
2011    94.880873
2012    94.053333
2013    97.982540
2014    93.172222
2015    48.656706
2016    43.293651
2017    50.800320
2018    65.227470
2019    56.988320
2020    39.160437
2021    67.917119
Name: Price, dtype: float64

In [29]:
# book alternative is using `.resample`
df.resample("YE").mean()
# tbh I like the groupby method for this instance better since it only shows the year,
# rather than this which shows the whole date
# the benefit of this method I suppose is if you have an incomplete year in the data
# then I think it might show you the final date it has data for?

                Price
Date
1986-12-31  15.047689
1987-12-31  19.200512
1988-12-31  15.965409
1989-12-31  19.635486
1990-12-31  24.526576
1991-12-31  21.541367
1992-12-31  20.575564
1993-12-31  18.432200
1994-12-31  17.196429
1995-12-31  18.428805
1996-12-31  22.119173
1997-12-31  20.608254
1998-12-31  14.422072
1999-12-31  19.344980
2000-12-31  30.378520
2001-12-31  25.983120
2002-12-31  26.184960
2003-12-31  31.075240
2004-12-31  41.506024
2005-12-31  56.637251
2006-12-31  66.054659
2007-12-31  72.340595
2008-12-31  99.671502
2009-12-31  61.950437
2010-12-31  79.475714
2011-12-31  94.880873
2012-12-31  94.053333
2013-12-31  97.982540
2014-12-31  93.172222
2015-12-31  48.656706
2016-12-31  43.293651
2017-12-31  50.800320
2018-12-31  65.227470
2019-12-31  56.988320
2020-12-31  39.160437
2021-12-31  67.917119

In [26]:
# 6. On which dates were the oil prices the highest?
df.loc[df["Price"] == df["Price"].max()]

             Price
Date
2008-07-03  145.31

In [27]:
# 7. On which dates were the oil prices the lowest?
df.loc[df["Price"] == df["Price"].min()]

            Price
Date
2020-04-20 -36.98

In [30]:
# book version uses `.iloc` to grab both ends at once, which is neat
df["Price"].sort_values().iloc[[0, -1]]

Date
2020-04-20    -36.98
2008-07-03    145.31
Name: Price, dtype: float64

In [31]:
# also from the book, if we just want the indices for those max values
# we can use this
df["Price"].agg(["idxmax", "idxmin"])

idxmax   2008-07-03
idxmin   2020-04-20
Name: Price, dtype: datetime64[ns]

# Extension questions
1. Use `resample` to find, for each quarter, the mean and standard deviations of price.
2. In which quarter did you see the biggest increase in mean from the previous quarter?
3. What was the biggest percentage increase in oil prices across quarters?

In [ ]:
# 1. mean and std for each quarter in the data set
df.resample("QE").agg(["mean", "std"])

                Price
                 mean       std
Date
1986-03-31  17.217213  4.856866
1986-06-30  13.866094  1.346364
1986-09-30  13.813906  1.809548
1986-12-31  15.406452  0.824353
1987-03-31  18.250328  0.661624
...               ...       ...
2020-12-31  42.524921  3.844217
2021-03-31  58.093443  4.931396
2021-06-30  66.186667  4.403607
2021-09-30  70.575469  3.078296
2021-12-31  77.701273  5.712271

[144 rows x 2 columns]

In [63]:
# 2. In which quarter did we see the biggest increase in mean from the previous quarter?
df.resample("QE").mean().diff().sort_values("Price", ascending=False).iloc[0]

Price    25.91959
Name: 2008-06-30 00:00:00, dtype: float64

In [64]:
# 3. What was the biggest percentage increase in oil prices across quarters?
df.resample("QE").mean().pct_change().sort_values("Price", ascending=False).iloc[0]

Price    0.475456
Name: 1990-09-30 00:00:00, dtype: float64