In [1]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv(
    "../data/linux-etc-passwd.txt",
    sep=":",
    comment="#",
    header=None,
    names=["username", "password", "userid", "groupid", "name", "homedir", "shell"],
    usecols=[
        "username",
        "userid",
        "name",
        "homedir",
        "shell",
    ],  # extension 1 - ignore some fields
)
df.head()

  username  userid    name    homedir              shell
0     root       0    root      /root          /bin/bash
1   daemon       1  daemon  /usr/sbin  /usr/sbin/nologin
2      bin       2     bin       /bin  /usr/sbin/nologin
3      sys       3     sys       /dev  /usr/sbin/nologin
4     sync       4    sync       /bin          /bin/sync

In [12]:
# extension 2 - only show the non-special (uid > 1000) users
df.loc[df["userid"] > 1000]

,username,userid,name,homedir,shell
17,nobody,65534,nobody,/nonexistent,/usr/sbin/nologin
24,reuven,1001,"Reuven M. Lerner,,,",/home/reuven,/bin/bash
33,genadi,1002,"Genadi Reznichenko,,,",/home/genadi,/bin/bash
34,shira,1003,"Shira Friedman,,,",/home/shira,/bin/bash
35,atara,1004,"Atara Lerner-Friedman,,,",/home/atara,/bin/bash
36,shikma,1005,"Shikma Lerner-Friedman,,,",/home/shikma,/bin/bash
37,amotz,1006,"Amotz Lerner-Friedman,,,",/home/amotz,/bin/bash
44,git,1007,"GitLab,,,",/home/git,/bin/bash
47,deploy,1008,"Deploy,,,",/home/deploy,/bin/bash

In [13]:
# extension 3 - what are the different shells?
df["shell"].drop_duplicates()

0             /bin/bash
1     /usr/sbin/nologin
4             /bin/sync
18           /bin/false
31              /bin/sh
42         /bin/nologin
Name: shell, dtype: object