In [1]:
from pandas import DataFrame, Series
import numpy as np

In [2]:
df = DataFrame(
    [[10, 20, 30, 40], [50, 60, 70, 80], [90, 100, 110, 120]],
    index=list("xyz"),
    columns=list("abcd"),
)
df

    a    b    c    d
x  10   20   30   40
y  50   60   70   80
z  90  100  110  120

In [3]:
# Accessing rows has to be via `.loc` which gives us a Series
df.loc["x"]

a    10
b    20
c    30
d    40
Name: x, dtype: int64

In [4]:
# Using square brackets on the dataframe directly will give us a column
df["a"]

x    10
y    50
z    90
Name: a, dtype: int64

In [5]:
# Slicing acts differently to providing a list
# This provides a slice (with the end point -inclusive-!)
print(df["x":"y"])
# This selects the columns from the list
print(df[["a", "b"]])

    a   b   c   d
x  10  20  30  40
y  50  60  70  80
    a    b
x  10   20
y  50   60
z  90  100

In [ ]:
# Can also refer to column names with dot notation (like JS's object dot notation)
# but this has all the problems you would expect with column names that don't conform
# to regular syntax rules like spaces
df.a

x    10
y    50
z    90
Name: a, dtype: int64

# Exercise 8
Create a dataframe that represents a company's inventory of five products.
Each product:
- Has a unique ID number (2 digit int)
- name
- wholesale price
- retail price
- sales last month

DataFrames can be created in the following ways:
1. A list of lists (each list is a row and must be dimensionally identical)
2. A list of dicts (each dict is a row and keys are column values to be filled)
3. A dict of lists (each key is one column and values -- lists -- are the column values)
4. A two dimensional numpy array

In [12]:
inventory = DataFrame(
    {
        "id": [1, 2, 3, 4, 5],
        "name": ["black pen", "stapler", "ruler", "tissues", "eraser"],
        "wholesale price": [0.25, 1.5, 1.15, 1.0, 0.3],
        "retail price": [1.75, 5.99, 2.0, 2.5, 1.5],
        "sales": [251, 37, 20, 302, 24],
    }
)
inventory

   id       name  wholesale price  retail price  sales
0   1  black pen             0.25          1.75    251
1   2    stapler             1.50          5.99     37
2   3      ruler             1.15          2.00     20
3   4    tissues             1.00          2.50    302
4   5     eraser             0.30          1.50     24

In [13]:
# calculate the products' total revenue
((inventory["retail price"] - inventory["wholesale price"]) * inventory["sales"]).sum()

np.float64(1041.43)

# Extension questions
1. For what products is the retail price more than twice the wholesale price?
2. How much did the store make from consumables vs non-consumables (staplers)
3. Because your store is doing so well, you can negotiate a 30% discount on the wholesale price of goods. Calculate the new net income.

In [31]:
# 1. Retail more than twice the wholesale
# in my case this is all of them, but we'll do the calculation anyway
inventory[inventory["retail price"] > inventory["wholesale price"] * 2]

   id       name  wholesale price  retail price  sales  profit
0   1  black pen             0.25          1.75    251  376.50
1   2    stapler             1.50          5.99     37  166.13
3   4    tissues             1.00          2.50    302  453.00
4   5     eraser             0.30          1.50     24   28.80

In [ ]:
# 2. How much did we make from consumables vs non-consumables
inventory["profit"] = (
    inventory["retail price"] - inventory["wholesale price"]
) * inventory["sales"]
consumables = inventory["profit"][[0, 3, 4]].sum()
non_consumables = inventory.loc[[1, 2]]["profit"].sum()
print(f"Consumables: ${consumables:.2f}")
print(f"Non-consumables: ${non_consumables:.2f}")
print(f"Extra profit from consumables: ${consumables - non_consumables:.2f}")

Consumables: $858.30
Non-consumables: $183.13
Extra profit from consumables: $675.17

In [35]:
# let's try the previous one but using names instead
consumable_items = ["black pen", "tissues", "eraser"]
non_consumable_items = ["stapler", "ruler"]

con_profit = inventory["profit"][inventory["name"].isin(consumable_items)].sum()
non_con_profit = inventory["profit"][inventory["name"].isin(non_consumable_items)].sum()

print(f"Consumables: ${con_profit:.2f}")
print(f"Non-consumables: ${non_con_profit:.2f}")
print(f"Extra profit from consumables: ${con_profit - non_con_profit:.2f}")

Consumables: $858.30
Non-consumables: $183.13
Extra profit from consumables: $675.17

In [ ]:
# 3. Recalculate net income with a 30% wholesale price reduction
discounted_income = (
    (inventory["retail price"] - inventory["wholesale price"] * 0.7)
    * inventory["sales"]
).sum()
print(f"Net income with 30% wholesale discount: ${discounted_income:.2f}")

Net income with 30% wholesale discount: $1176.57