In [23]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv(
    "../data/nyc-parking-violations-2020.csv",
    usecols=[
        "Date First Observed",
        "Plate ID",
        "Registration State",
        "Issue Date",
        "Vehicle Make",
        "Street Name",
        "Vehicle Color",
    ],
)
df.head()

,Plate ID,Registration State,Issue Date,Vehicle Make,Street Name,Date First Observed,Vehicle Color
0,J58JKX,NJ,05/08/1972 12:00:00 AM,HONDA,43 ST,0,BK
1,KRE6058,PA,08/29/1977 12:00:00 AM,ME/BE,UNION ST,0,BLK
2,444326R,NJ,10/03/1988 12:00:00 AM,LEXUS,CLERMONT AVENUE,0,BLACK
3,F728330,OH,01/03/1990 12:00:00 AM,CHEVR,DIVISION AVE,0,NaN
4,FMY9090,NY,02/14/1990 12:00:00 AM,JEEP,GRAND ST,0,GREY

1. Set the index to the `"Issue Date"` field
2. Determine what three makes were most commonly ticketed on January 2nd, 2020
3. Determine the five streets on which cars got the most tickets on June 1st, 2020
4. Set the index to the `"Vehicle Color"` field
5. Determine the most common make of vehicles that were either red or blue

In [25]:
df = df.set_index("Issue Date")
df.loc["01/02/2020 12:00:00 AM", "Vehicle Make"].value_counts().head(3)

Vehicle Make
TOYOT    3829
HONDA    3593
FORD     3164
Name: count, dtype: int64

In [26]:
df.loc["06/01/2020 12:00:00 AM", "Street Name"].value_counts().head(5)

Street Name
WB CONDUIT BLVD @ LI    1068
SB WEST ST @ LEROY S     335
EB HORACE HARDING EX     273
EB QUEENS BLVD @ 82N     245
WB ATLANTIC AVE @ CL     229
Name: count, dtype: int64

In [27]:
# if we don't reset the index that column is discarded and replaced by the new
# index column
df = df.reset_index().set_index("Vehicle Color")

In [28]:
df.loc[["RED", "BLUE"], "Vehicle Make"].value_counts().head(1)

Vehicle Make
HONDA    39353
Name: count, dtype: int64

# Extension questions
1. What three car makes were ticketed most often from January 2nd through January 10th?
2. How many tickets did the second most ticketed car get in 2020? Why are we not interested in the most ticketed car? What state was the car from, and was it always ticketed in the same location?

In [29]:
df = df.reset_index().set_index("Issue Date")

In [ ]:
df.loc[
    df.index.str.contains(r"01/(?:0[2-9]|10)/2020 12:00:00 AM"), "Vehicle Make"
].value_counts().head(3)

# Book uses a sorted index and then a slice
# df = df.set_index("Issue Date")
# df = df.sort_index()
# df.loc[
#     "01/02/2020 12:00:00 AM":"01/10/2020 23:59:59 PM", "Vehicle Make"
# ].value_counts().head(3)

Vehicle Make
FORD     38936
TOYOT    37073
HONDA    35944
Name: count, dtype: int64

In [49]:
df = df.reset_index()
df["Plate ID"].value_counts().head(2)

Plate ID
BLANKPLATE    8882
2704819       1535
Name: count, dtype: int64

In [50]:
(df.set_index("Plate ID").loc["2704819", ["Street Name", "Registration State"]])

         Street Name Registration State
Plate ID
2704819      8TH AVE                 IN
2704819      7th Ave                 IN
2704819      7th Ave                 IN
2704819    W 58th St                 IN
2704819    W 58th St                 IN
...              ...                ...
2704819      9TH AVE                 IN
2704819      8th Ave                 IN
2704819      8TH AVE                 IN
2704819    W 34th St                 IN
2704819    W 34th St                 IN

[1535 rows x 2 columns]